* {
    box-sizing: border-box;
  }
    
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    
  }
  
  .flex-item-left {
    background-color: white;
    justify-content:left;
    padding: 10px;
    flex: 5%;
  }
  
  .flex-item-right {
    background-color:dodgerblue;
    justify-content:right;
    padding: 10px;
    flex: 5%;
  }

  .noDecoration {
    text-decoration: none!important;
    color:black;
    border-bottom:none;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }